@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.header {
    width: 100%;
    height: 80px;
    /* height: 68px; */
    background-color: rgb(22, 22, 22);
    display: flex;

    /* position: fixed; */
    /* z-index: 1; */
    /* opacity : 0.5; */
}
*{
    letter-spacing: -1px;
}

h1{
    font-family: 'SBAggroB', cursive;
    font-size: 2.4rem;
    color:#efb33b;
    height: 18px;
}
h3{
    font-family: 'SBAggroB', cursive;
    font-size: 1.2em;
}

p{
    font-family: 'Pretendard-Regular';
    color: white;
}

.title-container{
    margin-bottom: 50px;
}

.info-box{
    margin-bottom: 60px;
}
.info-title{
    height: 10px;
}
.title-container{
    margin-bottom: 70px;
}



/* .detail-summary-02{
    font-family: 'Pretendard-Regular';
} */
.logo-box {
    margin: 0px 0px 0px 30px;
    width: 40%;

    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

.logo {
    font-family: 'Staatliches', cursive;

    font-size: 3em;
    text-align: center;
    color: #efb33b;
    text-shadow: 3px 3px #2D63A7;
}

.back{
    position: fixed;
    width: 2500px;
    height: 3750px;
    z-index: -1;
}

.back-img{
    position: fixed;
    width: 3000px;
    height: 4500px;
    object-fit: fill;

    opacity: 0.1;

}

/* * * * * * * * * * * * * * * * * * * * 메인 컨테이너 * * * * * * * * * * * * * * * * * * *  */
.main-container {
    letter-spacing: -1px;
    width: 100vw;
    /* max-width: 1200px; */

    position: relative;
    /* absolute의 기준점  : (하위 요소의 앱솔루트의 기준점)*/
}

.back-poster-container {
    width: 100%;
    max-height: 1080px;
    display: flex;
    justify-content: center;
}

.back-poster-img {
    width: 100%;
    /* max-width: 1920px; */
    filter: brightness(0.4);
    mask-image: linear-gradient(to top, transparent, black 10%);
}




.movie-info-container {

    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    color: white;

    /* relative의 고정!됨! */
    /* top, left는 relative의 기준으로 */
}

.inner {
    width: 100%;
    max-width: 1600px;
    /* padding: 0px 30px; */

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.info-container {
    width: 100%;

    display: flex;
    justify-content: start;
}

.movie-poster-container {
    width: 50%;

}

.movie-poster-img {
    object-fit: cover;
    width: 40%;

    margin-left: 40%;
}

.movie-info {
    width: 50%;
}

.movie-summary {
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: start;
}

.movie-summary>div {
    width: 80%;
    margin-left: 25%;
}

/* 하단 영역 (추천, 출연진 등) */
/* 전체 컨테이너 스타일링 */
.sub-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0;
}

/* 섹션 스타일링 */
.sub-section {
    margin-bottom: 40px;
    /* 섹션 사이 간격 */
}

/* 섹션 헤더 스타일링 */
.section-header {
    width: 100%;
    padding: 10px;
    margin: 0px auto;
}

/* .section-header h1 {
    font-size: 1.5rem;
    font-weight: bold;
} */

.section-body {
    margin: 0px auto;
    width: 100%;
    overflow: hidden; /* 넘치는 부분 숨김 처리 */
}

.poster-container {
    display: flex;

    overflow: hidden;
    white-space: nowrap; /* 내부 요소를 한 줄에 나타내기 */
}

.sub-poster{
    width: 100%;
    object-fit: cover;

}

/* 각 슬라이드 요소 */
.img-container {
    flex: 0 0 24%; /* 한 줄에 4개의 슬라이드가 보이도록 설정 */
    width: 24%;
    box-sizing: border-box;
    padding: 10px; /* 슬라이드 사이 간격 설정 */
}

.img-container img {
    height: 100%;
}


.actor-main-container {
    display: flex;

    overflow: hidden;
    white-space: nowrap; /* 내부 요소를 한 줄에 나타내기 */
}

.actor-container{
    flex: 0 0 10%;
    /* width: 100%; */
    box-sizing: border-box;
    padding: 10px; /* 슬라이드 사이 간격 설정 */

    display: flex;
    flex-direction: column;
    
}

.actor-poster{
    width: 200px;
    height: 320px;
    object-fit: cover;

}
/* ************************* */



.progress {
    height: 5px;
    background-color: #333;
    margin-left: 10px;
    border-radius: 5px;
}

.progress .bar {
    width: 0%;
    height: 5px;
    transition: width 1.2s ease;
    background-color: #efb33b;

    transition: background-color 0.6s ease-in-out;
}




/* 스타일링된 로딩 화면 */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    /* 반투명 흰 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* 최상위 레이어로 설정 */
    transition: opacity 0.3s ease;
    /* 부드러운 페이드 인/아웃 */
    opacity: 1;
    /* 초기에는 보이도록 설정 */
    pointer-events: none;
    /* 이벤트 무시 (배경 이벤트 방지) */
}

/* 스피너 스타일 */
.spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #333;
    border-top-color: #777;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 992px){
    /* .movie-info-container{
        width: 1200px;
    }    */
}